/** 
    orange #F04F41 
    grey #F1F2F4
    darkGrey #999999
**/

@font-face {
  font-family: "Futura";
  src: url('fonts/Futura.ttf') format('ttf');
}

body {
  font-family: "Futura", sans-serif;
}
section { 
  height: 466px;
  overflow: hidden;
  min-height: 715px;
  position: relative;
}
h1 {
  font-size: 55px;
  color: #F04F41;
}
h2 {
  font-size: 22px;
}
p {
  display: inline-block;
  width: 488px;
  font-size: 20px;
  word-spacing: 3px;
}
input {
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding: 10px;
  font-size: 20px;
}
section {
  position: relative;
  text-align: center;
}
section > * {
  position: absolute;
}
section.splash {
  background: #F04F41;
}
section.splash > div {
  height: 43px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0px;
}
section.community {
  text-align: center;
  height: 567px;
  font-size: 17px;
}
section.community .container {
  top: 14%;
  left: 50%;
  margin-left: -80.5px;
}
section.community h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 2%;
}
section.community .wrapper > * {
  margin: 1% auto 1%;
}
section.community > p:first-of-type {
  display: block;
  line-height: 31px;
  font-size: 25px;
  text-align: center;
  width: 550px;
  top: 35%;
  left: 50%;
  margin-left: -275px;
}
section.community .wrapper {
  background: #F04F41;
  height: 270px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
section.community .wrapper img {
  width: 109px;
  margin-top: 21px;
}
section.community .wrapper div > p {
  color: white;
  font-size: 16px;
  width: 175px;
  margin-top: 7px;
  line-height: 16px;
}
section.community .wrapper > div {
  width: 744px;
  margin: 0 auto;
}
section.community .wrapper div > div {
  float: left;
  width: 185px;
  text-align: center;
  font-size: 20px;
}
section.community .wrapper div > div > div {
  margin-top: 14px;
  font-size: 30px;
}
section.campaigns {
  height: 721px;
}
section.campaigns h1 {
  color: black;
  text-align: center;
  margin-top: 3%;
  width: 100%;
  position: relative;
}
section.campaigns img {
  width: 128px;
  margin-right: 35px;
  float: left;
  margin-top: 20px;
}
section.campaigns > div {
  width: 664px;
  clear: both;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -332px;
}
section.campaigns > div:first-of-type {
  top: 19%;
}
section.campaigns > div:nth-of-type(2) {
  top: 45.5%;
}
section.campaigns > div:nth-of-type(3) {
  top: 72%;
}
section.campaigns > div > div {
  float: left;
}
section.campaigns h4 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 330px;
}
section.campaigns p {
  font-size: 15px;
  margin-top: 5px;
  width: 239px;
  line-height: 15px;
}
section.campaigns h5 {
  font-size: 25px;
  margin-top: 5px;
  width: 330px;
}
section.campaigns img.arrow-right {
  position: absolute;
  left: 0;
  width: 36px;
  margin: 61px 122px;
}
section.campaigns .btn {
  margin-top: 12px;
  width: 92px;
  font-size: 22px;
  margin-left: 88px;
}
section.join {
  background: #F04F41;
  height: 665px;
}
section.join .icon-logo {
  margin: 0% -100px;
  width: 200px;
  left: 50%;
  position: absolute;
  top: 3%;
}
section.join > div {
  background: white;
  padding: 30px;
  margin: 0px -289px;
  width: 518px;
  left: 50%;
  top: 27%;
}
section.join h5 {
  font-size: 25px;
  text-align: center;
}
section.completion {
  display: none;
  background-color: #F1F2F4;
  background-image: url(../white-GRADSTER-top.svg);
  height: 820px;
  background-repeat: no-repeat;
  background-size: 2000px;
  background-position: -1070px -284px;
}
section.completion p {
  text-align: center;
  margin: 23% -275px;
  line-height: 43px;
  display: block;
  font-size: 32px;
  width: 550px;
  left: 50%;
}
section.completion span {
  color: #F04F41;
  font-weight: bold;
}
form input {
  display: block;
  margin-bottom: 15px;
}
input, select, textarea{
  font-family: "Futura", sans-serif;
  color: #999999;
}
form > div {
  color: #999999;
  font-size: 15px;
}
form > div:first-of-type {
  margin-top: 20px;
}
form > div:first-of-type input {
  display: inline-block;
}
form > div input:first-of-type {
  margin-right: 10px;
  float: left;
}
form > div:nth-of-type(2) input {
  width: 495px;
}
form > div > div {
  clear: both;
  line-height: 20px;
  font-size: 20px;
  text-align: left;
}
form .btn {
  margin: 20px 0 0 0;
}
.btn {
  background: #F04F41;
  padding: 11px 30px;
  color: white;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 5px #888888;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}
.btn.join {
  line-height: 40px;
  top: 48%;
  display: inline-block;
  position: relative;
}
.icon-logo {
  width: 300px;
  display: block;
  clear: both;
  top: 50%;
  left: 50%;
  position: relative;
  margin: -188px -150px;
}
.icon-students {
  width: 125px;
}

.tab-down {
  border-radius: 50%;
  background: #F04F41;
  height: 90px;
  width: 90px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  margin: -50px 0 0 -45px;
  left: 50%;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 29px solid white;
  margin: 50px 0 0 28px
}
#campaigns-mask {
  position: absolute;
  width: 100%;
  height: 372px;
  background: lightgray;
  margin-top: 379px;
  display: none;
}
img.backpack {
  margin: 20px 99px;
}
div.backpack {
  margin-left: 64px;
}